.cx-accordion__brand {
    .gb-accordion-title {
        cursor: pointer;
    }
    details[open] {
        > div {
            padding-bottom: 2rem;
        }
    }
    &.cx-product-box__benefits {
        padding-left: .75rem;
    }
}
