@media only screen and (max-width: 991px) {
    .cx-header__wrapper {
        // .cx-inner-wrapper {
        //     padding: 0 .5rem;
        // }
        // .navbar-brand {
        //     margin-right: .5rem
        // }
        .cx-nav__logo {
            display: flex;
            max-height:100%;
        }
        // .cx-nav .cx-button:not(:last-child) {
        //     margin-right: .5rem;
        // }
        
    }
}
@media only screen and (min-width: 992px) {
    .cx-header__wrapper {
        .cx-nav__logo {
            padding-top: 1rem;
        }
        .cx-nav__logo {
            display: flex;
            max-height: 100%;
            h1 {
                display: flex;
            }
        }
    }
}