@media (max-width: 991px) {
    .cx-nav__collapse {
        &.offcanvas {
            visibility: visible;
            top: 67px;
            position: absolute;
        }
    }
    .cx-header {
        &.nav-open {
            position: fixed;
            min-height: 100vh;
            overflow: hidden scroll;
        }
        .cx-header__mobile {
            .cx-nav__navbar {
                background-color: #FFF;
            }
        }
    }
}