.modal.cx-modal {
    display: block;
    visibility: hidden;
    transition: visibility 0s ease .35s;
    &.show {
        transition: none;
        visibility: visible;
    }
}
.cx-container-modal {
    &--bodytakeover {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100vh;
        top: 100px;
    }
}