.modal.cx-modal {
    display: block;
    visibility: hidden;
    transition: visibility 0s ease .35s;
    &.show {
        transition: none;
        visibility: visible;
    }
}
.cx-container-modal {
    &--bodytakeover {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        background-color: #FFF;
        transform: none;
        -webkit-transform: none;
        .cx-container-modal__content {
            position: relative;
            transform: none;
            -webkit-transform: none;
            margin: 0 auto;
            top: auto;
            left: auto;
        }
    }
}